import { {{name}}Entity } from '../../../lib/SmartDB/Entities/{{name}}.Entity';
import { {{name}}Api } from '../../../lib/SmartDB/FrontEnd/{{name}}.FrontEnd.Api.Calls';
import { useEffect, useState } from 'react';
import Modal from 'react-modal';
import styles from './{{name}}.module.scss';

export default function {{name}}() {
    //--------------------------------------
    const [isRefreshing, setIsRefreshing] = useState(true);
    useEffect(() => {
        setIsRefreshing(false);
    }, []);
    //----------------------------
    const [list, setList] = useState<{{name}}Entity[]>();
    const [newItem, setNewItem] = useState<Partial<{{name}}Entity>>({}); // Estado para el nuevo entidad
    //----------------------------
    const fetch = async () => {
            try {
                const list: {{name}}Entity[] = await {{name}}Api.getAllApi_();
                setList(list);
            } catch (e) {
                console.error(e);
            }
        };
    useEffect(() => {fetch();}, []);
    //----------------------------
    const handleBtnCreate = async () => {
        try {
          // Crear un nuevo entidad a partir de los datos de newItem
          const entity = new {{name}}Entity(newItem);

          // Llamada al API para crear el entidad en la base de datos
          const created{{name}} = await {{name}}Api.createApi(entity);

          // Limpiar los campos después de crear
          setNewItem({});

          fetch();
        } catch (e) {
            console.error(e);
        }
    };
    //----------------------------
    const handleDelete = async (id: string) => {
        try {
            await {{name}}Api.deleteByIdApi({{name}}Entity, id); // Llama a la API para eliminar el elemento
            fetch();
        } catch (e) {
            console.error(e);
        }
    };
    //----------------------------
    const handleInputChange = (field: keyof {{name}}Entity, value: any) => {
        setNewItem({
            ...newItem,
            [field]: value,
        });
    };
    //----------------------------
    return (
        <div className={styles.content}>
            <div>
                <div className={styles.subTitle}>CREATE</div>
                <form>
                    {{#each fields}}
                    <div>
                        <label>{{name}}: </label>
                        <input 
                            type="text" 
                            value={newItem.{{name}} || ''} 
                            onChange={(e) => handleInputChange('{{name}}', e.target.value)} 
                        />
                    </div>
                    <div>
                    </div>
                    {{/each}}
                    <button type="button" onClick={handleBtnCreate}>Create</button>
                </form>
            </div>
            <div>
                <div>List of {{name}}</div>
                <div className={styles.listContainer}>
                    <table border="1">
                        <thead>
                          <tr>
                            {{#each fields}}<th key="{{@index}}">{{name}}</th>{{/each}}
                          </tr>
                        </thead>
                        <tbody>
                            {list?.map((item, index) => (
                              <tr key={index}>
                                {{#each fields}}<td key="{{@index}}">{item.{{name}} }</td>{{/each}}
                                <td>
                                  <button onClick={() => handleDelete(item._DB_id)}>Delete</button>
                                </td>
                              </tr>
                            ))}
                        </tbody>
                    </table>
                </div>
            </div>
        </div>
    );
}
Modal.setAppElement('#__next');
