import { {{name}}Entity } from '../../../lib/SmartDB/Entities/{{name}}.Entity';
import { {{name}}Api } from '../../../lib/SmartDB/FrontEnd/{{name}}.FrontEnd.Api.Calls';
import { useEffect, useState } from 'react';
import Modal from 'react-modal';
<<<<<<< HEAD
import {
    ADA_UI,
    BaseSmartDBFrontEndApiCalls,
    BaseSmartDBFrontEndBtnHandlers,
    CS,
    LucidToolsFrontEnd,
    formatHash,
    formatTokenAmount,
    formatUTxO,
    pushSucessNotification,
    pushWarningNotification,
    useWalletStore,
} from 'smart-db';
import LoaderButton from '../../Commons/LoaderButton/LoaderButton';
import WalletConnector from '../../Commons/WalletConnector/WalletConnector';
import styles from './{{name}}.module.scss';
import { ClaimTxParams, CreateTxParams, UpdateTxParams } from '@example/src/lib/Commons/Constants/transactions';
import { {{name}}Entity } from '@example/src/lib/SmartDB/Entities';
import { {{name}}Api } from '@example/src/lib/SmartDB/FrontEnd/{{name}}.FrontEnd.Api.Calls';
=======
import styles from './Product.module.scss';
>>>>>>> 176051b (update handlebar)

export default function {{name}}() {
    //--------------------------------------
    const [isRefreshing, setIsRefreshing] = useState(true);
    useEffect(() => {
        setIsRefreshing(false);
    }, []);
    //----------------------------
    const [list, setList] = useState<{{name}}Entity[]>();
    //----------------------------
    useEffect(() => {
        const fetch = async () => {
            try {
                const list: {{name}}Entity[] = await {{name}}Api.getAllApi_();
                setList(list);
            } catch (e) {
                console.error(e);
            }
        };
        fetch();
    }, []);
    //----------------------------
    const handleBtnCreate = async () => {
        let product = new {{name}}Entity({ name: 'TEST', description: 'DESC', precio: 11 });
        await {{name}}Api.createApi(product);
    };
    //----------------------------
    return (
        <div className={styles.content}>
            Create {{name}}
            <div>
                <div className={styles.subTitle}>CREATE</div>
                <button onClick={handleBtnCreate}>Create</button>
            </div>
            List of {{name}}
            <div>
                <div className={styles.subTitle}>LIST</div>
                {list?.map((item, index) => (
                    <>
                    {{#each fields}}
                        <div> {item.{{name}} } </div>
                    {{/each}}
                    </>
                ))}
            </div>
        </div>
    );
}

Modal.setAppElement('#__next');
