import type { NextPage } from 'next';
import styles from './index.module.scss';
import {{name}} from '../components/public/{{name}}/{{name}}';

const {{name}}Page: NextPage = () => {
    return (
        <>
            <main >
                <{{name}} />
            </main>
        </>
    );
};

export default {{name}}Page;
